body{
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 5em;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

#nav li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    list-style-type: none;
    text-transform: lowercase;
    margin-right: 0.5em;
}

#nav {
    padding-top: 2%;
}

#name{
    padding-top: 2%;
    padding-bottom: 5%;
}

img {
    width: 100%;
}

#footer {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#block1 {
    padding: 2em;
}