body{
    background-color: rgb(0, 0, 0);
    background-image: url(images/largesea.png);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 0px -200px; 
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1{
    color: white;
    font-size: 4em;
}

h5 {
    text-align: justify;
    color: white;
}

#big5 {
    color: rgb(188, 188, 188);
    font-size: 50em;
    position: absolute;
    top: -400px;
    right: 100px;
    z-index: -1;
}

#big9 {
    color: rgb(188, 188, 188);
    letter-spacing: -0.1em;
    font-size: 40em;
    position: absolute;
    top: -400px;
    right: -100px;
    z-index: -1;
}

#big10 {
    color: rgb(188, 188, 188);
    font-size: 30em;
    position: absolute;
    top: -200px;
    right: -380px;
    z-index: -1;
}

p {
    text-align: justify;
    font-size: 1.1em;
    margin-top: 30px;
    color: white;
}

#resources li {
    list-style-type: none;
}

.box { 
    background-color: black;
    position: relative;
    top: -700px;
    width: 100%;
    height: 1300px;
    z-index: -1;
}

.box2 { 
    background-color: black;
    position: relative;
    top: -2000px;
    width: 100%;
    height: 2700px;
    z-index: -1;
}






filters
background-size cover


.scroll-watcher {
    animation-timeline: scroll(y);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 36%;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@keyframes fade-in {
    to {
      opacity: 1;
      transform: scale(1);
    }
}